@charset "UTF-8";
/* CSS Document */
p.intro:first-letter {
	font-family:"Century Gothic Bold Italic", "Old English", serif;
	font-size: 400%;
	line-height: 0.9em;
	font-weight: bold;
	color: #900;
	float:left;
	margin-right: 0.05em;
	padding-top: 0px;
	padding-right: 0.05em;
	padding-bottom: 0.02em;	
}
.note {
	font-size: 0.8em;
	font-style: italic;
	width: 40%;
	margin-bottom: 1em;
	margin-left: 1em;
	padding-top: 0.3em;
	padding-right:0.4em;
	padding-bottom: 0.3em;
	padding-left:0.4em;
	border-top: 2px double #900;
	border-bottom: 2px double #900;
	float:right;
	color:#900;	
}